//*
//  outline: 1px solid pink

@for $width from 1 through 100
  .w-#{$width}
    width: $width * 1%

.m0auto
  margin: 0 auto

//TEXT ALIGN
.text-center
  text-align: center

//SPACERS
$spacers: 3, 9, 12, 24, 36
@each $spacer in $spacers
  .spacer#{$spacer}h
    height: #{$spacer}px
    font-size: 0

//DISPLAYS
$displays: block, table, none, inline-block
@each $d in $displays
  .d-#{$d}
    display: $d

//VERTICAL ALIGN
$vas: top, middle, bottom
@each $va in $vas
  .va-#{$va}
    vertical-align: $va

//TEXT
$fontsizes: 13, 14, 18, 30
@each $fs in $fontsizes
  .fs-#{$fs}
    font-size: #{$fs}px

@for $i from 1 to 9
  .fw-#{$i*100}
    font-weight: $i*100

//line-heights
@for $l from 0 to 30
  .lh-#{$l}
    line-height: #{$l}px
.lh-normal
  line-height: normal !important

.nowrap
  white-space: nowrap

//COLORS
$color1: red
$color2: #f4f4f4
$color3: #808080
$color4: #D8D8D8
$color5: #151515

.color-white
  color: white
.color-color1
  color: $color1
.color-color2
  color: $color2
.color-color3
  color: $color3
.color-color4
  color: $color4
.color-color5
  color: $color5

//BACKGROUNDS AND COLORS
.bg-white
  background: white
.bg-color1
  background: $color1
.bg-color2
  background: $color2
.bg-color3
  background: $color3
.bg-color4
  background: $color4
.bg-color5
  background: $color5

//RESET
html, body
  margin: 0
  padding: 0
  width: 100%

body
  mso-line-height-rule: exactly
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  background-color: #f4f4f4

table, tr, td
  border: none
  padding: 0
  border-collapse: collapse

td
  letter-spacing: -0.2px

th
  font-weight: 800
  color: $color1

html, body, table, tr, td, p, h2, span
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif
  font-size: 16px
  font-weight: 400
  -webkit-text-size-adjust: 100%
      -ms-text-size-adjust: 100%
      mso-line-height-rule: exactly

img
  display: block
  margin: 0
  padding: 0
  border: 0
a
  text-decoration: none !important
  margin: 0
  padding: 0

//TABLES
.table-main
  background: $color2

.table-main-container
  width: 100%
  max-width: 600px
  margin: 0 auto

